/* Utils */

.ptb-pull-left {
  float: left;
}

.ptb-pull-right {
  float: right;
}

.ptb-hidden {
  display: none;
}

/* Table */

.ptb-table {
  width: 100%;
}

/* Sizes */

.ptb-fullwidth {
  width: 100%;
}

.ptb-halfwidth {
  width: 50%;
}

/* Boxes on the page where you select witch page to create */

.ptb-box-list {}

.ptb-box-list a {
  height: 90px;
  width: 150px;
  text-align: center;
  background: white;
  border: 1px #ddd solid;
  padding-top: 60px;
  display: list-item;
  cursor: pointer;
}

.ptb-box-list li {
  margin: 10px;
  float: left;
}

.ptb-box-list li:first-child {
  margin-left: 0px;
}

.ptb-box-list li:hover > a {
  border: 1px #ccc solid;
}

.ptb-box-list li p {
  margin-top: -65px;
  width: 150px;
  text-align: center;
}

/* Properties */

.ptb-property-text {
  width: 100%;
  height: 250px;
}

/* Tabs */

.ptb-tabs {
  display: table;
  margin-bottom: -6px;
}

.ptb-tabs li {
  color: #555;
  background: #F7F7F7;
  -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 #FFF, 0 1px 0 rgba(0, 0, 0, 0.08);
  float: left;
  padding: 10px;
  border-bottom: 0;
  border-top: 1px #eaeaea solid;
  border-right: 1px #eaeaea solid;
}

.ptb-tabs li:first-child {
  border-left: 1px #eaeaea solid;
}

.ptb-tabs li.active {
  background: white;
}

.ptb-tabs li a {
  color: #555;
  text-decoration: none;
}

.ptb-tabs-content {
  border: 1px #eaeaea solid;
  padding: 5px;
}

.ptb-tabs-content > div {
  display: none;
}

.ptb-tabs-content > div.active {
  display: block;
}

/* Collection */

.ptb-collection-list {

}

.ptb-collection-list > a {
  margin-top: -27px;
}

.ptb-collection-list ul {
  width: 100%;
}

.ptb-collection-list ul li {
  width: 100%;
  border-top: 1px #eaeaea solid;
  padding-top: 10px;
}

.ptb-collection-list ul li:first-child {
  border-top: 0;
  padding-top: 0;
  padding-bottom: 10px;
}

.ptb-collection-list a.ptb-pull-right.del {
  margin-bottom: -25px;
}

/* Divider */

h3.ptb-divider-text {
  padding-left: 0 !important;
}