.papi-box {

	label {
		font-weight: bold;
		text-align: left;
	}

	input[type="date"], 
	input[type="datetime-local"], 
	input[type="datetime"], 
	input[type="email"], 
	input[type="month"], 
	input[type="number"],
	input[type="password"], 
	input[type="search"], 
	input[type="tel"], 
	input[type="text"], 
	input[type="time"], 
	input[type="url"], 
	input[type="week"] {
		height: 28px;
		line-height: 28px;
		margin: 0;
		width: 100%;
	}

	select, 
	textarea {
		width: 100%;
	}

	select {
		-webkit-appearance: none;
	}
}


// TODO: new file for select2
.papi-box {
	.select2 input {
		width: 100% !important;
	}
}
