// Util

// Sizes
.papi-table,
.papi-fullwidth {
  width: 100%;
}

.papi-halfwidth {
  width: 50%;
}

// Position
.papi-pull-left {
  float: left;
}

.papi-pull-right {
  float: right;
}

.papi-clear {
  clear: both;
}

// Visibility
.papi-hide {
  display: none !important;
}

.papi-visually-hidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Hide, by force or class, not sure where this belongs (TODO)
.metabox-prefs {
  .papi-rq {
    display: none !important;
  }
}

#papi-hidden-editor,
#wp-papiHiddenEditor-wrap,
label[for="papi-hidden-editor-hide"],
.papi-iframe-mode .compat-field-papi_meta_nonce,
.papi-iframe-mode #wpbody-content .wrap > a {
  display: none !important;
}

// Hide classes for hiding html
// elements that can be hidden
// with a filter or something like that.
$hide-list: #edit-slug-box #pageparentdiv;
@each $item in $hide-list {
  .papi-hide-#{str-slice($item, 2)} #{$item} {
    display: none;
  }
}

// Iframe mode, hide menus, admin tab and other things.
.papi-iframe-mode {
  #adminmenumain, // admin menu
  #wpadminbar, // admin bar
  #wpfooter, // admin footer
  .wrap > #message.updated > p > a, // view post link
  .submitdelete.deletion // move to trash link
  {
    display: none !important;
    height: 1px;
    width: 1px;
  }
  #wpcontent {
    margin-top: -32px;
    margin-left: 0px !important;

    .wrap h1,
    #screen-meta,
    #screen-meta-links,
    .delete-action {
      display: none;
    }
  }
}
