.papi-box table,
.papi-meta-type-term .form-table {
	cursor: default !important;
	border-collapse: collapse;
	border-style: hidden;
	width: 100%;

  * {
    word-wrap: break-word;
  }

  th,
	td {
		border: 1px solid #e5e5e5;
		padding: 12px;
		text-align: left;
		vertical-align: top;
	}

  tr {
    td, 
    th[scope="row"] {
    	vertical-align: top;

    	&:first-child {

        // TODO: test below, dunno what id does atm
        > p {
          color: #899194;
          font-size: 12px;
          font-style: normal;
          font-weight: normal;
          line-height: 16px;
          margin: 3px 0 0 !important;
          padding: 0 !important;
        }
      }
    }
  }
}

.papi-table-sidebar {
	background: #f9f9f9;
  width: 15%;
}

//
// Vertical layout fixes.
//

.papi-table tr td:first-child > p,
.papi-meta-type-term .form-table tr td:first-child > p {
  padding: 0 0 10px 0 !important;
}

//
// Mobile css for first papi table.
//
/*
@media screen and (max-width: 782px) {
  .papi-box > .inside {
    margin-top: -5px !important;

    > .papi-table > tbody > tr {
      > td {
        display: block;

        &:first-child {
          border-bottom: 1px solid #eaeaea;
          border-right: 0;
          margin: 10px 0 0;
          padding: 10px 0;
          width: 99.6%;

          > label {
            padding-left: 10px;
          }

          &[colspan="2"] {
            margin-bottom: -11px;
          }
        }

        + td {
          border-top: 0;
          margin-top: 10px;
          padding: 10px;
        }
      }

      &.papi-layout-vertical {
        > td:first-child {
          border-bottom: 0;
        }
      }
    }
  }
}
*/

//
// Term table. 
//
/*
.papi-meta-type-term .wrap h1 {
  margin-bottom: 10px;
}

.papi-meta-type-term #edittag > .form-table {
  border-top: 1px #ddd solid;
}

.papi-meta-type-term #edittag > .papi-table {
  margin-top: -1px;
}

.papi-meta-type-term #edittag > .form-table,
.papi-meta-type-term #edittag > .papi-table {
  background: white;
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
}
*/