.hidden {
  display: none;
}

.ptb-property-list {
  background: #fafafa;
  border: 1px #eaeaea solid;
  padding: 5px;
  .pr-inner {
    background: #fff;
    border: 1px #eaeaea solid;
    .pr-actions {
      height: 20px;
      /* background: #fafafa; */
      padding: 5px;
      label {
        float: left;
        margin-left: 8px;
        margin-top: 4px;
      }
    }
    .pr-right {
      margin-right: 15px;
    }
  }
  ul li {
    margin-top: -2px;
    width: 100%;
    &:first-child {
      margin-top: -8px;
    }
  }
  .pr-inner {
    .pr-actions a.pr-list-add-new-item {
      background: url(../img/plus-minus.png) no-repeat top left;
      width: 16px;
      height: 16px;
      position: absolute;
      text-indent: -9999px;
      right: 45px;
      text-decoration: none;
      margin-top: 5px;
    }
    a.pr-list-remove-item {
      background: url(../img/plus-minus.png) no-repeat top right;
      width: 16px;
      height: 16px;
      position: absolute;
      text-indent: -9999px;
      right: 45px;
      text-decoration: none;
      margin-top: 7px;
    }
  }

  .ptb-table tr.num td {
    border-right: none;
    padding: 5px 15px;
  }
}