.ptb-property-list {
  background: #fafafa;
  border: 1px #eaeaea solid;
  padding: 5px;

  .ptb-property-list-inner {
    background: #fff;
    border: 1px #eaeaea solid;

    .ptb-property-list-actions {
      height: 10px;
      padding: 5px;

      label {
        float: left;
        margin-left: 8px;
      }

      .ptb-property-list-add-new-item {
        background: url(../img/plus-minus.png) no-repeat top left;
        width: 16px;
        height: 16px;
        position: absolute;
        text-indent: -9999px;
        right: 55px;
        text-decoration: none;
      }

    }

    > ul {
      margin-bottom: -6px;
      > li {
        margin-top: -6px;
        width: 100%;
        &:first-child {
          margin-top: -5px;
        }

        .ptb-property-list-remove-item {
          background: url(../img/plus-minus.png) no-repeat top right;
          width: 16px;
          height: 16px;
          position: absolute;
          text-indent: -9999px;
          right: 55px;
          text-decoration: none;
          margin-top: 7px;
        }

        .ptb-table {
          tr.num td {
            border-right: none;
            padding: 5px 15px;
          }
          .wp-editor-wrap {
            iframe {
              height: 400px !important;
            }
          }
        }

      }
    }
  }
}