.papi-property-reference {
  li {
    float: left;
    width: 100%;

    &:first-child {
      margin-top: -10px;
    }

    .handlediv {
      margin-top: -10px;
    }

    &.closed .handlediv:before {
      content: '\f140' !important;
    }

    h3 {
      background: #f9f9f9;
      border: 1px #eaeaea solid;
      margin-top: 5px !important;

      + .handlediv {
        margin-top: -38px;
      }
    }

    h4 {
      float: left;
      margin: 0;
      margin-right: 10px;
    }
  }

  .page-types {
    border: 1px #eaeaea solid;
    border-top: 0;
    margin-top: -6px;
    padding: 20px 15px 10px;

    .heading-border {
      border-bottom: 1px #eaeaea solid;
      padding-bottom: 5px;
    }

    ul {
      float: left;
      width: 100%;
    }
  }

  .box {
    margin: 0 0 15px -5px;

    a {
      background: #f8f8f8;
      border: 1px #eaeaea solid;
      float: left;
      margin: 5px;
      padding: 5px 10px;
      text-decoration: none;
      width: auto;

      &:hover {
        background: #2ea2cc;
        border: 1px #fff solid;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
