.papi-property-map-search {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  width: 100% !important;
  margin: 5px 0;
}

.papi-property-divider {
  width: 100%;
  border-bottom: none !important;
  padding-top: 0px !important;
  span {
    margin-left: -12px;
  }
}
