.papi-property-divider {
  width: 100%;
  border-bottom: none !important;
  padding-top: 0px !important;
  span {
    margin-left: -12px;
  }
}

.papi-property-text {
  width: 100%;
  height: 250px;
}

h3.papi-divider-text {
  padding-left: 0 !important;
}

.papi-url-media-input {
  width: 82.5% !important;
}

.papi-url-media-button {
  float: right;
  width: 15% !important;
  margin-top: -1px;
}

.papi-rq {
  color: #ff0000;
}