.papi-property-checkbox {

  @media screen and (min-width: 782px) {
    p {
      margin: 0;
    }
  }

  @media screen and (max-width: 782px) {
    p:first-child {
      margin-top: 0;
    }
  }
}

//
// Vertical layout fixes
//

.papi-layout-vertical .papi-property-checkbox > br {
  display: none;
}
