.papi-property-divider {
  h3 {
    border-bottom: none;
    font-size: 13px !important;
    line-height: 1.4;
    margin: 0;
    padding: 8px 12px;
    padding-top: 0 !important;
    padding-bottom: 2px !important;
    width: 100%;

    span {
      margin-left: -12px;
    }
  }

  p {
    color: #899194;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    margin: 2px 0 0;
  }
}

//
// Mobile css.
//

@media screen and (max-width: 782px) {
  .papi-property-divider {
    padding: 0 10px;
  }
}
