.papi-property-divider {
  h3 {
    border-bottom: none;
    font-size: 13px !important;
    padding-top: 0 !important;
    padding-bottom: 2px !important;
    width: 100%;

    span {
      margin-left: -12px;
    }
  }

  p {
    color: #899194;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    margin: 2px 0 0;
  }
}
