.attachment-compat .papi-component-select2 {
  width: 99.2%;
}

.papi-table tr td .select2-hidden-accessible {
  width: 1px;
}

.papi-table tr td .select2-selection--multiple ul li {
  margin-bottom: 1px;
}
