.papi-property-flexible .papi-table .flexible-td {
  padding: 0;

  .flexible-table {
    margin: -2px 0;
    width: 100%;

    .wp-editor-tools {
      margin-bottom: -4px !important;
    }

    td {
      &:first-child {
        background: none;
        font-weight: normal;
        padding: 10px 16px 10px 15px;
        width: auto;
      }

      border-top: 0;

      &.flexible-td-last {
        border-right: none;
      }
    }
  }
}
