.papi-property-flexible {
  /*.papi-table .repeater-tbody .last {
    border-right: 1px solid #eaeaea;
  }*/

  .papi-table .flexible-column {
    padding: 0;

    &.flexible-layout-table {
      border-bottom: 1px solid #eaeaea;
    }

    &.flexible-layout-row {
      border-top: 0;

      .papi-table {
        border-bottom: 0;
        margin: 0;
        table-layout: fixed;

        tr td {
          border-right: 0;
          max-width: 100%;
          padding: 20px 15px 20px 18px;

          &:first-child {
            border-right: 1px solid #eaeaea;
            padding: 10px 16px 10px 15px;
            width: 15%;
          }
        }
      }
    }

    .flexible-table {
      border-spacing: 0;
      margin: -1px 0;
      table-layout: fixed;
      width: 100%;

      .wp-editor-tools {
        margin-bottom: -4px !important;
      }

      thead th {
        background: #f9f9f9;
        border: 1px solid #eaeaea;
        border-left: 0;
        color: #444;
        padding: 5px 15px;

        &:first-child {
          border-left: 0;
          width: auto;
        }

        &:last-child {
          border-right: 0;
        }
      }

      tbody td {
        border-top: 0;
        padding: 20px 15px 20px 18px;

        &:first-child {
          background: none;
          border-left: 0;
          font-weight: normal;
          width: auto;
        }

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  .bottom {
    text-align: right;
  }

  .flexible-layouts-btn-wrap {
    display: inline-block;
    position: relative;
  }

  .flexible-layouts {
    background: #23282d;
    border-radius: 4px;
    bottom: 140%;
    color: #fff;
    float: right;
    left: 50%;
    min-width: 150px;
    opacity: 1;
    position: absolute;
    text-align: left;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;

    &:after {
      border: solid transparent;
      border-color: rgba(213, 0, 0, 0);
      border-top-color: #23282d;
      border-width: 5px;
      content: ' ';
      height: 0;
      left: 50%;
      margin-left: -5px;
      pointer-events: none;
      position: absolute;
      top: 100%;
      width: 0;
    }

    ul {
      color: #fff;
      padding: 0 8px;
      text-decoration: none;

      li {
        border-top: 1px #32373c solid;
        padding: 5px 8px 0;

        &:first-child {
          border-top: 0;
          margin-top: -5px;
        }

        a {
          color: white;
          display: block;
          float: none;
          text-decoration: none;

          &:hover {
            color: #00b9eb;
          }
        }
      }
    }
  }
}
