.papi-property-group {
  margin-right: -31px;

  > .papi-table {
    margin: -11px 0 -10px -15px;
  }
}

.papi-property-flexible .papi-property-group,
.papi-property-repeater .papi-property-group {
  > .papi-table {
    margin: -21px 0 -19px -18px;
  }
}

//
// Mobile css.
//

@media screen and (max-width: 782px) {
  .papi-property-group {
    margin-right: -19px;

    > .papi-table {
      margin: -11px 0 -10px -10px;

      td {
        display: block;

        &:first-child {
          border-bottom: 1px solid #eaeaea;
          border-right: 0;
          margin-top: 10px;
          padding: 10px 0;
          width: 100%;

          > label {
            padding-left: 10px;
          }

          &[colspan="2"] {
            margin-bottom: -11px;
          }
        }

        + td {
          border-top: 0;
          margin-top: 10px;
        }
      }
    }
  }
}

