.papi-property-group {
  background: #fff;
  //margin: -13px;

  .papi-table-sidebar {
    background: #f9f9f9;
  }
}

.papi-layout-horizontal {
  .papi-property-group {
    //margin: -13px;
  }
}

.papi-layout-vertical {
  .papi-property-group {
    margin: 0;
    border: 1px solid #e5e5e5;
  }
}
/*

//
// Mobile css.
//

@media screen and (max-width: 782px) {
  .papi-property-group {
    margin-right: -19px;

    > .papi-table {
      margin: -11px 0 -10px -10px;

      td {
        display: block;

        &:first-child {
          border-bottom: 1px solid #eaeaea;
          border-right: 0;
          margin-top: 10px;
          padding: 10px 0;
          width: 100%;

          > label {
            padding-left: 10px;
          }

          &[colspan="2"] {
            margin-bottom: -11px;
          }
        }

        + td {
          border-top: 0;
          margin-top: 10px;
        }
      }
    }
  }
}

*/