.papi-property-image {

  .attachment {
    cursor: move;
    margin: 0 5px 0 -8px;
    max-height: 150px;
    max-width: 150px;

    &.ui-sortable-placeholder {
      background: #f9f9f9;
      border: 1px #dfdfdf solid;
      margin: 8px 13px 0 0;
      max-height: 134px;
      max-width: 134px;
      visibility: visible !important;
    }

    .check {
      background: #a00;
      color: #fff;
      font-size: 14px;
      height: 21px;
      padding-top: 3px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .thumbnail {
      cursor: move;

      :after {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}

.papi-property-repeater .papi-property-image .attachment {
  width: 150px;
}
