.papi-property-link {
  .link-table {
    border-style: unset;
  }

  .link-table {
    td {
      &:first-child {
        font-weight: bold;
        background: #f9f9f9;
      }
    }
  }
}

.papi-property-repeater-top {
  .link-table {
    td {
      &:first-child {
        width: 15%;
        background: none;
      }
    }
  }
}
