.papi-property-oembed {
  .papi-oembed-top {
    padding: 5px 0 10px 0;
  }

  .papi-oembed-bottom {
    border: 1px transparent solid;
    &.loading {
      background: #eaeaea;
      border: 1px #ddd solid;
    }
  }
}
