.papi-property-post {

  > table {

    td {
      background: #fff;

      &:first-child {
        background: #f9f9f9;
      }
    }
  }
}

/* Repeater style */
.papi-property-repeater .papi-property-post {

  .papi-table {

    td:first-child {
      width: auto;
    }
  }
}

/* Repeater style: row layout */
.papi-property-repeater .repeater-layout-row .papi-property-post > .papi-table,
.papi-property-flexible .flexible-layout-row .papi-property-post > .papi-table {
  td:first-child {
    width: 15%;
  }
}

/* Flexible style */
.papi-property-flexible .papi-property-post {

  .papi-table {

    tr {
      td {
        //border-top: 1px solid #eaeaea !important;

        &:first-child {
          width: auto;
        }
      }

      &:first-child td {
        //border-top: 0 !important;
      }
    }
  }
}
