.papi-property-post {
  margin-right: -30px;

  > table {
    margin: -11px 0 -10px -15px;
    td {
      background: #fff;

      &:first-child {
        background: #f9f9f9;
        width: 22% !important;
      }
    }
  }
}

/* Repeater style */
.papi-property-repeater .papi-property-post {
  margin-right: -31px;

  .papi-table {
    margin: -21px 0 -20px -18px;
  }
}

/* Flexible style */
.papi-property-flexible .papi-property-post {
  margin-right: -32px;

  .papi-table {
    tr:first-child td {
      border-top: 0;
    }
  }
}
