.papi-property-relationship {
  background: #fafafa;
  border: 1px #eaeaea solid;

  .relationship-inner {
    padding: 5px;

    .relationship-top-left {
      float: left;
      max-width: 49%;
      padding: 10px 0;
      width: 49%;

      input[type="search"] {
        padding: 5px;
        width: 100%;
      }

    }

    .relationship-top-right {
      float: right;
      max-width: 49%;
      padding: 10px 0;
      width: 49%;
    }

    .relationship-left {
      background: #fff;
      border: 1px #eaeaea solid;
      float: left;
      height: 250px;
      max-height: 250px;
      max-width: 49%;
      min-height: 250px;
      overflow: scroll;
      overflow-x: hidden;
      width: 49%;
    }

    .relationship-right {
      background: #fff;
      border: 1px #eaeaea solid;
      float: right;
      height: 250px;
      max-height: 250px;
      max-width: 49%;
      min-height: 250px;
      overflow: scroll;
      overflow-x: hidden;
      width: 49%;
    }

    ul {
      margin: 0;
      padding: 5px 0;

      li {
        border-bottom: 1px #eaeaea solid;
        cursor: pointer;
        padding: 5px 10px 10px 5px;

        span.icon {
          background: url('../images/plus-minus.png') 0 0 no-repeat;
          cursor: pointer;
          float: right;
          height: 16px;
          width: 16px;
          margin: 0 3px 0 0;

          &.minus {
            background-position: -16px 0;
            margin: 0;
          }
        }

        a {
          text-decoration: none;
        }

      }

    }

  }

}
