.papi-property-repeater-top {
  // Components
  > table {
    border: 1px solid #e5e5e5;
  }

  // Modules
  .bottom {
    margin-top: 12px;
    text-align: right;
    width: 100%;
  }
}

.papi-property-repeater,
.papi-property-flexible {
  .papi-table-sidebar {
    background: transparent;
  }
  // Components
  .repeater-remove-item {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #32373c;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      background: #c00;
    }
  }

  > .papi-table {
    background: #fff;
    //table-layout: fixed;
    border-bottom: 1px solid #eaeaea;
  }

  .repeater-tbody {
    > tr:nth-of-type(odd) {
      background: #FFF;
    }
    > tr:nth-of-type(even) {
      background: #F9F9F9;
    }
  }

  // Modules
  .repeater-layout-row {
    padding: 0;
  }

  .papi-table > thead,
  .ui-sortable {

    .handle {
      width: 80px;
    }

    .last {
      text-align: center;
      width: 45px;
    }
  }

  .papi-table > thead tr th {
    &:first-child {
      width: 80px;
    }
  }

  // Layout 



  // Logic
  .repeater-content-closed {
    display: none;
  }

}


/*
.papi-property-repeater,
.papi-property-flexible {

  > .papi-table {

    > thead > tr,
    > tbody > tr {
      background: #fff;

      &.closed {
        .handle {
          .count {
            top: 68%;
          }

          .toggle {
            margin-top: 0;
            padding: 0;

            &:before {
              content: '\f140';
            }
          }
        }

        .repeater-column {
          background: #f9f9f9;
          border-top: 1px solid #eaeaea;
          text-align: center;
        }

        .repeater-content-open {
          display: none;
        }

        .repeater-content-closed {
          color: #afafaf;
          display: block;
          font-size: 12px;
          font-weight: 700;
          line-height: 1.4em;
          padding-top: 12px;
          text-align: center;
          width: 100%;
        }

        .repeater-layout-row {
          background: #f9f9f9;
          border-bottom: 0;
          border-top: 1px solid #eaeaea;
          padding: 0;
          text-align: center;
        }
      }

      th {
        background: #f9f9f9;
        border: 1px solid #eaeaea;
        border-bottom: 0;
        border-left: 0;
        font-size: 12px;
        padding: 10px 15px;

        &:first-child,
        &.last {
          background: #fff;
          border-left: 0;
          color: #afafaf;
          font-weight: bold;
          padding-left: 0;
          padding-right: 0;
          position: relative;
          width: 5%;

          > span {
            overflow: hidden;
            position: absolute;
            text-align: center;
            text-overflow: ellipsis;
            top: 50%;
            white-space: nowrap;
            width: 100%;
          }
        }

        &.last {
          border-right: 1px solid #eaeaea;
        }
      }

      > td {
        border-right: 1px solid #eaeaea;
        padding: 10px 15px 20px 15px;

        &.handle {
          cursor: move;

          .toggle {
            cursor: pointer;
            border-bottom: 1px #f9f9f9 solid;
            font: normal 20px/1 'dashicons';
            margin-top: 2px;
            padding-bottom: 4px;
            top: 0%;

            &:before {
              content: '\f142';
              margin-left: -2px;
            }
          }
        }

        &:first-child,
        &.last {
          background: #f9f9f9;
          border-left: 0;
          font-weight: bold;
          padding-left: 0;
          padding-right: 0;
          position: relative;
          width: 5%;

          > span {
            color: #afafaf;
            margin-top: -10px;
            overflow: hidden;
            position: absolute;
            text-align: center;
            text-overflow: ellipsis;
            top: 50%;
            white-space: nowrap;
            width: 100%;
          }
        }

        .repeater-content-closed {
          display: none;
        }

        .repeater-remove-item {
          color: #afafaf;
          text-decoration: none;
        }

        &.repeater-layout-row {
          padding: 0;

          > .papi-table {
            margin: -1px 0 -11px 0;
            table-layout: fixed;

            tr td {
              border-right: 0;
              max-width: 100%;
              padding: 20px 15px 20px 18px;

              &:first-child {
                border-right: 1px solid #eaeaea;
                padding: 10px 16px 10px 15px;
                width: 15%;
              }
            }
          }
        }
      }
    }
  }


}

//
// Repeater inside repeater fixes.
//

.papi-property-repeater .repeater-layout-row > div {
  margin-top: -1px;
}

.papi-property-repeater .repeater-layout-row .papi-property-repeater {
  margin-right: -33px;
  margin-left: 1px;

  > .papi-table {
    margin: -11px 0 -13px -16px;
    border-bottom: 1px solid #eaeaea;

    > .repeater-tbody {
      > tr > td {
        border-right: 1px solid #eaeaea !important;
      }
    }
  }
}

//
// Repeater inside flexible fixes.
//

.papi-property-flexible .flexible-column.flexible-layout-row .papi-property-repeater {
  margin-left: -1px;
  margin-right: -33px;

  > .papi-table {
    margin: -21px 0 -13px -17px 1;
    border-bottom: 1px solid #eaeaea;

    > .repeater-tbody {
      > tr > td {
        border-right: 1px solid #eaeaea !important;

        &.handle span {
          margin-left: -15px;
        }

        &.last span {
          margin-left: -18px;
        }
      }
    }
  }
}

//
// Repeater inside flexible fixes.
//

.papi-property-flexible .flexible-column.flexible-layout-table .papi-property-repeater {
  margin-left: -3px;
}

//
// Repeater inside repeater without sidebar fixes.
// Repeater inside flexible without sidebar fixes.
//

.papi-property-flexible .flexible-column.flexible-layout-row td[colspan="2"] .papi-property-repeater,
.papi-property-repeater td[colspan="2"] .papi-property-repeater {
  margin-right: -31px;

  > .papi-table {
    margin: -21px 0 -13px -14px;
  }
}

//
// Mobile css.
//

@media screen and (max-width: 782px) {
  .papi-property-repeater, .papi-property-flexible {
    margin-top: -16px;
    padding: 6px;

    .papi-property-repeater,
    .papi-property-repeater {
      padding: 0;
    }
  }
}
*/