.papi-property-repeater-templates {
  display: none;
}

.papi-property-repeater,
.papi-property-flexible {
  margin-right: -31px;

  .papi-table {
    border-bottom:  1px solid #eaeaea;
    margin: -11px 0 -13px -15px;

    tr th {
      background: #f9f9f9;
      border: 1px solid #eaeaea;
      border-bottom: 0;
      border-left: 0;
      padding: 10px 15px;

      &:first-child,
      &.last {
        background: #fff;
        border-left: 0;
        color: #afafaf;
        font-weight: bold;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        width: 5%;

        > span {
          margin-top: -.5em;
          overflow: hidden;
          position: absolute;
          text-align: center;
          text-overflow: ellipsis;
          top: 50%;
          white-space: nowrap;
          width: 100%;
        }
      }
    }

    tr {
      background: #fff;

      td {
        border-right: 1px solid #eaeaea;

        &:first-child {
          cursor: move;
        }

        &:first-child,
        &.last {
          background: #f9f9f9;
          border-left: 0;
          font-weight: bold;
          padding-left: 0;
          padding-right: 0;
          position: relative;
          width: 5%;

          > span {
            color: #afafaf;
            margin-top: -.5em;
            overflow: hidden;
            position: absolute;
            text-align: center;
            text-overflow: ellipsis;
            top: 50%;
            white-space: nowrap;
            width: 100%;
          }
        }
      }

      .repeater-remove-item {
        color: #afafaf;
        text-decoration: none;
      }
    }
  }

  .bottom {
    margin-top: 25px;
    width: 95%;

    a {
      float: right;
    }
  }
}

// Seamless mode
.postbox.papi-mode-seamless {

  .papi-property-repeater,
  .papi-property-flexible {
    border-left: 1px #eaeaea solid;
    border-right: 1px #eaeaea solid;
    margin-right: 0;

    > .papi-table {
      margin-left: 0;

      tr {
        border-right: 1px #eaeaea solid;
        border-top: 1px #eaeaea solid;

        td {
          border-right: 1px #eaeaea solid;
          border-top: 1px #eaeaea solid;
          padding: 10px;

          &:first-child > span,
          &.last > span {
            margin-left: -.8em;
          }
        }
      }
    }
  }
}
