.papi-property-repeater,
.papi-property-flexible {
  margin-right: -31px;

  .papi-table {
    border-bottom: 1px solid #eaeaea;
    margin: -11px 0 -13px -15px;
    table-layout: fixed;

    tr {
      background: #fff;

      &.closed {
        .handle {
          .count {
            top: 68%;
          }

          .toggle {
            margin-top: 0;
            padding: 0;

            &:before {
              content: '\f140';
            }
          }
        }

        .repeater-column {
          background: #f9f9f9;
          border-bottom: 0;
          border-top: 1px solid #eaeaea;
          text-align: center;
        }

        .repeater-content-open {
          display: none;
        }

        .repeater-content-closed {
          color: #afafaf;
          display: block;
          font-size: 12px;
          font-weight: 700;
          line-height: 1.4em;
          padding-top: 12px;
          text-align: center;
          width: 100%;
        }

        .repeater-layout-row {
          background: #f9f9f9;
          border-bottom: 0;
          border-top: 1px solid #eaeaea;
          padding: 0;
          text-align: center;
        }
      }

      th {
        background: #f9f9f9;
        border: 1px solid #eaeaea;
        border-bottom: 0;
        border-left: 0;
        font-size: 12px;
        padding: 10px 15px;

        &:first-child,
        &.last {
          background: #fff;
          border-left: 0;
          color: #afafaf;
          font-weight: bold;
          padding-left: 0;
          padding-right: 0;
          position: relative;
          width: 5%;

          > span {
            overflow: hidden;
            position: absolute;
            text-align: center;
            text-overflow: ellipsis;
            top: 50%;
            white-space: nowrap;
            width: 100%;
          }
        }

        &.last {
          border-right: 1px solid #eaeaea;
        }
      }

      td {
        border-right: 1px solid #eaeaea;
        padding: 20px 15px 20px 18px;

        &.handle {
          cursor: move;

          .toggle {
            cursor: pointer;
            border-bottom: 1px #f9f9f9 solid;
            font: normal 20px/1 'dashicons';
            margin-top: 2px;
            padding-bottom: 4px;
            top: 0%;

            &:before {
              content: '\f142';
              margin-left: -2px;
            }
          }
        }

        &:first-child,
        &.last {
          background: #f9f9f9;
          border-left: 0;
          font-weight: bold;
          padding-left: 0;
          padding-right: 0;
          position: relative;
          width: 5%;

          > span {
            color: #afafaf;
            margin-top: -10px;
            overflow: hidden;
            position: absolute;
            text-align: center;
            text-overflow: ellipsis;
            top: 50%;
            white-space: nowrap;
            width: 100%;
          }
        }

        .repeater-content-closed {
          display: none;
        }

        .repeater-remove-item {
          color: #afafaf;
          text-decoration: none;
        }

        &.repeater-layout-row {
          padding-left: 0;
          padding-right: 0;
          padding: 10px 0;

          .papi-table {
            margin-bottom: -11px;
            margin-left: 0;
            table-layout: fixed;

            tr td {
              border-right: 0;
              max-width: 100%;
              padding: 20px 15px 20px 18px;

              &:first-child {
                border-right: 1px solid #eaeaea;
                padding: 10px 16px 10px 15px;
                width: 15%;
              }
            }
          }
        }
      }
    }
  }

  .bottom {
    margin-top: 25px;
    width: 95%;

    a {
      float: right;
    }
  }
}

.papi-table td[colspan="2"] .papi-property-repeater-top .repeater-tbody > tr > td.last {
  border-right: 0;
}
