.papi-property-divider {
  border-bottom: none !important;
  padding-top: 0 !important;
  width: 100%;

  span {
    margin-left: -12px;
  }
}

.papi-property-text {
  height: 250px;
  width: 100%;
}

h3.papi-divider-text {
  padding-left: 0 !important;
}

.papi-url-media-input {
  width: 82.5% !important;
}

.papi-url-media-button {
  float: right;
  margin-top: -1px;
  width: 15% !important;
}

.papi-rq {
  color: #f00;
}

.metabox-prefs {
  .papi-rq {
    display: none !important;
  }
}

.papi-box .hndle .papi-rq {
  color: #000 !important;
}
