.papi-property-divider {
  h3 {
    border-bottom: none !important;
    margin-bottom: -8px;
    padding-top: 0 !important;
    width: 100%;

    span {
      margin-left: -12px;
    }
  }

  p {
    color: #899194;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    margin-top: -5px !important;
    margin-bottom: 0;
  }
}

.papi-property-text {
  height: 250px;
  width: 100%;
}

.papi-divider-text {
  padding-left: 0 !important;
}

.papi-url-media-input {
  width: 82.5% !important;
}

.papi-url-media-button {
  float: right;
  margin-top: -1px;
  max-width: 15% !important;
}

.papi-rq {
  color: #f00;
}

.metabox-prefs {
  .papi-rq {
    display: none !important;
  }
}

.papi-box .hndle .papi-rq {
  color: #000 !important;
}

.papi-table tr td {
  input[type="radio"] + label,
  input[type="checkbox"] + label {
    font-weight: normal;
    padding: 0;
  }
}
