@media screen and (max-width: 782px) {
  .papi-url-media-input {
    width: 95%;
  }

  .papi-url-media-button {
    float: left;
    margin-top: 10px;
    width: 100%;
  }
}

@media screen and (min-width: 782px) {
  .papi-url-media-button {
    float: right;
    margin-top: 10px !important;
    max-width: 15%;
  }
}
