#papi-hidden-editor,
#wp-papiHiddenEditor-wrap,
label[for="papi-hidden-editor-hide"],
.compat-field-papi_meta_nonce {
  display: none !important;
}

// Hide classes for hiding html
// elements that can be hidden
// with a filter or something like that.
$hide-list: #edit-slug-box #pageparentdiv;
@each $item in $hide-list {
  .papi-hide-#{str-slice($item, 2)} #{$item} {
    display: none;
  }
}
