#papi-hidden-editor,
#wp-papiHiddenEditor-wrap,
label[for="papi-hidden-editor-hide"],
.compat-field-papi_meta_nonce {
  display: none !important;
}

// Hide classes for hiding html
// elements that can be hidden
// with a filter or something like that.
$hide-list: #edit-slug-box #pageparentdiv;
@each $item in $hide-list {
  .papi-hide-#{str-slice($item, 2)} #{$item} {
    display: none;
  }
}

// Page type switcher.
#post-body .papi-page-type-switcher {
  > span {
    font-weight: bold;
  }

  &:before {
    content: "\f105";
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 0 2px 0 0;
    top: 0;
    left: -1px;
    position: relative;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
    color: #888;
  }

  > div {
    line-height: 2.5em;
    margin-top: 3px;
    display: none;

    > select {
      margin-right: 2px;
    }

    > a {
      vertical-align: middle;
      margin-right: 2px;
    }
  }
}

//
// Iframe mode, hide menus, admin tab and other things.
//
.papi-iframe-mode {
  #adminmenumain, // admin menu
  #wpadminbar, // admin bar
  #wpfooter, // admin footer
  .wrap > #message.updated > p > a, // view post link
  .submitdelete.deletion // move to trash link
  {
    display: none !important;
    height: 1px;
    width: 1px;
  }
  #wpcontent {
    margin-top: -32px;
    margin-left: 0px !important;

    .wrap h1,
    #screen-meta,
    #screen-meta-links,
    .delete-action {
      display: none;
    }
  }
}
