// Add new page
.papi-search {
  font-size: 16px;
  font-weight: 300;
  left: 20px;
  line-height: 1.5;
  position: relative;
  top: -2px;
  width: 280px;

  @media only screen and (max-width: 650px) {
    clear: both;
    float: none;
    left: 0;
    margin: 10px 0;
    right: 0;
    top: 0;
    width: 100%;
  }
}

// Sizes
.papi-table,
.papi-fullwidth {
  width: 100%;
}

.papi-halfwidth {
  width: 50%;
}

.papi-pull-left {
  float: left;
}

.papi-pull-right {
  float: right;
}

.papi-panel {
  background: #fff;
  border: 1px #eaeaea solid;
  margin: 10px 0 -5px -2px;
  padding: 10px;

  p {
    margin: 0;
  }
}

// Boxes that exists on the add new page
.papi-box-list {
  clear: both;
  margin-top: 20px;

  @media only screen and (max-width: 480px) {
    margin-left: 0;
  }

  .papi-box-item {
    background: #fff;
    border: 1px solid #dedede;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0 2.3% 3% 0;
    position: relative;
    width: 22.7%;
    text-decoration: none;

    @media only screen and (max-width: 1120px) {
      margin-right: 2%;
      width: 48%;
    }

    @media only screen and (max-width: 480px) {
      margin-right: 0;
      width: 100%;
    }

    .papi-page-type-screenshot {
      background: #eaeaea;
      background-size: 100%;
      color: #aaa;
      display: inline-block;
      height: 200px;
      width: 100%;

      div {
        display: table;
        height: 200px;
        width: 100%;

        div {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
        }
      }
    }

    img {
      border-bottom: 1px solid #dedede;
      height: auto;
      left: 0;
      top: 0;
      -webkit-transform: translateZ(0);
      -webkit-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;
      width: 100%;
    }

    .papi-page-type-info {
      margin-top: -4px;
      max-width: 240px;
      padding: 15px;
      position: relative;
      word-break: break-word;

      h3 {
        border: 0;
        color: #23282d;
        font-weight: 400;
        margin: 0;
        margin-bottom: 5px;
      }

      p {
        border: 0;
        color: #777;
        margin: 0;
      }
    }

    .papi-page-type-actions {
      background-color: #fafafa;
      border-top: 1px solid #dedede;
      height: 38px;
      padding: 9px 10px 0;
    }
  }
}
