// Papi meta box style

.papi-box h3 {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 8px 12px;
}

#poststuff .papi-box {
  .inside {
    border-top: 1px transparent solid;
    margin-right: -13px !important;
    margin-top: 5px;
    padding-right: 0;

    > .papi-table {
      margin: -7px -12px -12px;
    }
  }
}


#side-sortables {
  .papi-box > .papi-table {
    tr td {
      float: left;
      padding: 10px 0;
      width: 99.5%;

      > label {
        padding-left: 12px;
      }

      > input,
      select,
      textarea {
        margin-left: 12px;
        width: 90.5%;
      }
    }
  }
}
