.papi-management-box {

  .inside {
    margin-bottom: 0;
    margin-right: -25px;
    padding-bottom: 0;

    .papi-table {
      margin-left: -13px;
      margin-top: -11px;

      thead {
        background: #f9f9f9;

        tr th {
          border: 1px solid #eaeaea;
          border-right: 0;
          border-top: 0;
          padding: 10px 10px 10px 15px;
          text-align: left;
        }
      }

      tbody tr td {
        background: #fff;
        border: 1px solid #eaeaea;
        border-right: 0;
        border-top: 0;

        .papi-table {
          padding: 20px 10px 10px;

          tr th {
            border: 1px solid #eaeaea;
            border-right: 0;

            &:first-child {
              border-left: 1px #eaeaea solid;
            }
          }

          td {
            border-left: 0;
            border-right: 1px solid #eaeaea;

            &:first-child {
              border-left: 1px solid #eaeaea;
            }
          }
        }
      }
    }
  }
}
