.papi-options-logo {
  background: url('../images/logotype.png') no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  height: 50px;
  margin: 0 10px 10px 0;
  width: 50px;
}

.papi-options-table {
  tr:nth-child(2n) {
    background: #fcfcfc;
  }
}

.papi-options-description {
  margin-top: -12px;
}

.papi-options-postbox-outer {
  float: left;
  margin-right: 10px;
  position: static;
  width: 250px;
}

.papi-options-postbox {
  width: 250px;

  label {
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin: 1.33em 0;
  }
}
