// Tabs wrapper

.papi-tabs-wrapper {

  float: left;
  width: 100%;

  .papi-tabs-back {
    background: #f4f2f2;
    border-right: 1px solid #dfdfdf;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 139px;
  }

  .papi-tabs {
    background: #f4f2f2;
    border-right: 1px solid #dedede;
    border-top: 1px solid #eaeaea;
    float: left;
    line-height: 22px;
    margin: -7px 0 -12px -10px;
    padding: 0 0 10px;
    position: relative;
    width: 137px;

    li {

      &:first-child {

        &.active {

          a {
            border-top: 1px solid transparent;
          }
        }
      }

      display: block;
      margin: 0;
      padding: 0;

      a {
        background: #f4f2f2;
        border-bottom: 1px solid #eaeaea;
        border-top: 1px solid transparent;
        color: #899194;
        display: block;
        font-weight: bold;
        line-height: 18px;
        margin: 0 0 0 -1px;
        padding: 10px;
        text-decoration: none;

        img {
          float: left;
          height: 13px;
          margin-top: 2px;
          padding: 0 5px;
          width: 13px;
        }
      }

      &.active {

        a {
          background-color: #f9f9f9;
          border-color: #dedede;
          border-top: 1px solid transparent;
          color: #333;
          margin: 0 -1px;
          position: relative;
        }
      }
    }
  }

  .papi-tabs-table-back {
    background: #f9f9f9;
    border-right: 1px solid #eaeaea;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 246px;
  }

  .papi-tabs-content {
    margin-left: 131px;
    padding-left: 10px;
    position: relative;

    > div {
      display: none;

      &.active {
        display: block;
      }

      .papi-table {
        margin: -7px 0 -12px -13px;
        min-height: 100%;

        tr td:first-child {
          width: 75px;

          label {
            padding-left: 2px;
          }
        }
      }
    }
  }
}
