// Table
.papi-table,
.papi-meta-type-term .form-table {
  border-spacing: 0;
  cursor: default !important;

  * {
    word-wrap: break-word;
  }

  tr {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 0;

    td, th[scope="row"] {
      border-bottom: 0;
      border-top: 1px solid #eaeaea;
      padding: 10px 16px 10px 15px;
      vertical-align: top;

      &:first-child {
        background: #f9f9f9;
        border-right: 1px solid #eaeaea;
        border-top: 1px solid #eaeaea;
        width: 15%;

        label {
          color: #333;
          display: block;
          font-size: 13px;
          font-weight: bold;
          line-height: 1.4em;
          margin: 0 0 3px;
          padding: 0;
        }

        > p {
          color: #899194;
          font-size: 12px;
          font-style: normal;
          font-weight: normal;
          line-height: 16px;
          margin: 3px 0 0 !important;
          padding: 0 !important;
        }
      }

      &[colspan="2"] {
        background: #fff;
      }

      label {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.5;
        padding-top: 4px;
        word-break: break-word;

        &.light {
            font-weight: normal;
            padding: 0;
        }
      }

      input,
      select,
      textarea {
        width: 99.5%;
      }

      input[type="radio"] {
        margin-top: 0px;
      }

      input[type="radio"],
      input[type="checkbox"] {
        width: 16px;
        min-width: 16px;

        @media screen and (max-width: 782px) {
          width: 25px;
          min-width: 25px;
        }
      }
    }
  }

  .wp-editor-wrap input {
    width: auto !important;
  }
}

//
// Vertical layout fixes.
//

.papi-table tr td:first-child > p,
.papi-meta-type-term .form-table tr td:first-child > p {
  padding: 0 0 10px 0 !important;
}

//
// Mobile css for first papi table.
//

@media screen and (max-width: 782px) {
  .papi-box > .inside {
    margin-top: -5px !important;

    > .papi-table > tbody > tr {
      > td {
        display: block;

        &:first-child {
          border-bottom: 1px solid #eaeaea;
          border-right: 0;
          margin: 10px 0 0;
          padding: 10px 0;
          width: 99.6%;

          > label {
            padding-left: 10px;
          }

          &[colspan="2"] {
            margin-bottom: -11px;
          }
        }

        + td {
          border-top: 0;
          margin-top: 10px;
          padding: 10px;
        }
      }

      &.papi-layout-vertical {
        > td:first-child {
          border-bottom: 0;
        }
      }
    }
  }
}

//
// Term table.
//

.papi-meta-type-term .wrap h1 {
  margin-bottom: 10px;
}

.papi-meta-type-term #edittag > .form-table {
  border-top: 1px #ddd solid;
}

.papi-meta-type-term #edittag > .papi-table {
  margin-top: -1px;
}

.papi-meta-type-term #edittag > .form-table,
.papi-meta-type-term #edittag > .papi-table {
  background: white;
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
}
