// Utils

.papi-pull-left {
  float: left;
}

.papi-pull-right {
  float: right;
}

.papi-clear {
  clear: both;
}

.papi-hide {
  display: none !important;
}

.papi-visually-hidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
