// Add new page
.ptb-search {
  border: 1px #eaeaea solid;
}

// Table + Sizes
.ptb-table {
  tr {
    display: table;
    margin-bottom: 5px;
    width: 100%;

    &.help-text {
      margin-top: -5px;
      margin-bottom: 10px;
    }

    td:first-child {
      width: 150px;
    }

    td[colspan] {
      width: auto;
    }

    td label {
      font-size: 13px;
      line-height: 1.5;
      font-weight: 600;
    }
  }
}

.ptb-table,
.ptb-fullwidth {
  width: 100%;
}

.ptb-halfwidth {
  width: 50%;
}

// Boxes that exists on the add new page
.ptb-box-list {
  margin-left: -10px;

  a {
    height: auto;
    width: 150px;
    text-align: center;
    background: #fff;
    border: 1px #ddd solid;
    padding-top: 60px;
    padding-bottom: 65px;
    display: list-item;
    cursor: pointer;
    z-index: 10;
  }

  li {
    margin: 10px;
    float: left;

    &:hover > a {
      border: 1px #ccc solid;
    }

    p {
      margin-top: -60px;
      margin-left: 5px;
      width: 145px;
      text-align: center;
      cursor: pointer;
    }
  }
}

// Properties
.ptb-property-text {
  width: 100%;
  height: 250px;
}

h3.ptb-divider-text {
  padding-left: 0 !important;
}