// Papi meta box style

.papi-box h3 {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
}

.papi-box .inside {
  padding-right: 0px;
  margin-right: -13px !important;
  > .papi-table {
    margin: -7px -12px -12px -12px;
  }
  > div {
    margin: -17px 13px -13px -12px;
    h1, h2, h3, h4, h5, h6 {
      padding: 15px 12px 0px 12px !important;
    }
    p {
      padding: 0 12px 0 12px;
      &:last-child {
        padding-bottom: 15px;
      }
    }
  }

  p + .papi-table {
    margin-top: 15px;
  }
}


#side-sortables {
  .papi-box > .papi-table {
    tr td {
      float: left;
      width: 99.5%;
      padding: 10px 0px;
      > label {
        padding-left: 12px;
      }
      > input,
      select,
      textarea {
        margin-left: 12px;
        width: 90.5%;
      }
    }
  }
}
