// Table
.ptb-table {
  cursor: default !important;
  border-spacing: 0;
  margin: -1px 0 -12px 0;

  tr {
    display: table;
    margin: 0;
    width: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

    td {
      padding: 13px 15px;
      border-top: 1px solid #eaeaea;
      border-bottom: 0 none;
      vertical-align: top;
    }

    td:first-child {
      width: 15%;
      background: #F9F9F9;
      border-top: 1px solid #eaeaea;
      border-right: 1px solid #eaeaea;

      label {
        display: block;
        font-size: 13px;
        line-height: 1.4em;
        font-weight: bold;
        padding: 0;
        margin: 0 0 3px;
        color: #333;
      }

      p {
        display: block;
        font-size: 12px;
        line-height: 1.4em;
        padding: 0 !important;
        margin: 3px 0 0 !important;
        font-style: normal;
        line-height: 16px;
        color: #899194;
      }

    }

    td {
      label {
        font-size: 13px;
        line-height: 1.5;
        font-weight: 600;
      }
      input {
        width: 99.5%;
      }
    }
  }
}