// Postbox modes
.postbox.papi-mode-seamless {
  background: transparent;
  border: 0;
  box-shadow: none;

  > h3,
  > .handlediv {
    display: none;
  }

  .papi-table tr td {
    background: transparent;
    border: 0;
    padding-left: 0;
  }
}

// Table
.papi-table {
  border-spacing: 0;
  cursor: default !important;

  * {
    word-wrap: break-word;
  }

  tr {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 0;

    td {
      border-bottom: 0;
      border-top: 1px solid #eaeaea;
      padding: 10px 16px 10px 15px;
      vertical-align: top;

      &:first-child {
        background: #f9f9f9;
        border-right: 1px solid #eaeaea;
        border-top: 1px solid #eaeaea;
        width: 15%;

        label {
          color: #333;
          display: block;
          font-size: 13px;
          font-weight: bold;
          line-height: 1.4em;
          margin: 0 0 3px;
          padding: 0;
        }

        p {
          color: #899194;
          font-size: 12px;
          font-style: normal;
          line-height: 16px;
          margin: 3px 0 0 !important;
          padding: 0 !important;
        }
      }

      &[colspan="2"] {
        background: #fff;
        border-right: 0;
      }

      label {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.5;
        padding-top: 4px !important;
        word-break: break-word;
      }

      input,
      select,
      textarea {
        width: 99.5%;
      }

      input[type="radio"],
      input[type="checkbox"] {
        width: auto;
      }
    }
  }

  .wp-editor-wrap input {
    width: auto !important;
  }
}

#poststuff .papi-box {
  .hndle {
    border: 0;
  }

  .inside {
    > .papi-custom-html {
      border-top: 1px solid #eaeaea;
      margin-top: -4px;

      h3,
      h4 {
        padding-top: 15px;
      }
    }

    .papi-table {
      + .papi-custom-html {
        border-top: 1px solid #eaeaea;
        margin-top: 10px;

        h3 {
          padding-top: 15px;
        }
      }
    }
  }

  &.papi-mode-seamless .inside .papi-table + .papi-custom-html {
    border: 0;
  }
}

// side meta boxes
