.ptb-tabs-wrapper {

  float: left;
  width: 100%;

  .ptb-tabs-back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #f4f2f2;
    width: 147px;
    border-right: 1px solid #dfdfdf;
  }

  .ptb-tabs {
    background: #f4f2f2;
    line-height: 22px;
    float: left;
    width: 145px;
    margin: 0;
    position: relative;
    padding: 0 0 10px;
    margin: -7px 0 -12px -10px;
    border-right: 1px solid #dedede;
    border-top: 1px solid #eaeaea;

    li {
      &:first-child {
        &.active {

          a {
            border-top: 1px solid transparent;
          }
        }
      }

      display: block;
      margin: 0;
      padding: 0;

      a {
        padding: 10px;
        line-height: 18px;
        margin: 0 0 0 -1px;
        display: block;
        background: #f4f2f2;
        text-decoration: none;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #eaeaea;
        font-weight: bold;
        color: #899194;

        img {
          float: left;
          padding: 0 5px;
          width: 13px;
          height: 13px;
          margin-top: 2px;
        }
      }

      &.active {
        a {
          border-color: #dedede;
          position: relative;
          background-color: #f9f9f9;
          color: #333333;
          margin: 0 -1px 0 -1px;
        }
      }
    }
  }

  .ptb-tabs-content {
    padding-left: 10px;
    margin-left: 145px;

    > div {
      display: none;

      &.active {
        display: block;
      }

      .ptb-table {
        margin: -7px 0 0 -20px;
      }
    }

  }

}